.validation_error {
    color: red;
    font-style: italic;
}

.validation_warning {
    color: orange;
    font-style: italic;
}

.small_note {
    color: grey;
    font-style: italic;
}

.picture_grid QLabel {
    qproperty-alignment: AlignCenter;
    min-height: 50px;
}

.grid_header {
    font-weight: bold;
    color: skyblue;
}

.title {
    font-weight: bold;
    border-top: 2px solid skyblue;
    font-size: 20px;
    padding: 10px;
    qproperty-alignment: AlignCenter;
    color: skyblue;
}