[HEADER]

good-names=resizeEvent,columnCount,canFetchMore,fetchMore,setData,headerData,createEditor,setEditorData,setModelData,rowCount,t

[MESSAGES CONTROL]
disable=no-self-use,too-many-instance-attributes,too-many-locals,too-many-ancestors